:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #fff;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --border-color: #ECECEC;
}


body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


/* -------------Logo---------------- */
.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        text-decoration: none;

        margin-right: 93px;
        padding: 25px 0;
        display: block;
}

.logo-part-two {
    color: #000;
}

.logo-footer-part-two {
    color: var(--primary-background-color)
}

/* -------------header----------- */

.header-list {
    display: flex;
    gap: 50px;
}
.header-list-contacts{
    font-size: 14px;
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-list-contacts a{
    font-size: 14px;

    padding: 32px 0;
    display: block;
}



.header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: inherit;

        padding: 32px 0;
        display: block;
    }



.header-link:focus,
.header-link:hover{
    color: var(--accent-color);
}

.header-list .header-link.current {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-list-contacts a {
    color: var(--secondary-text-color);
}
.header-list-contacts a:focus,
.header-list-contacts a:hover {
    color:var(--accent-color)
}

.header {
    border-bottom: 1px solid var(--border-color);
}


/* ------------------Hero-------------- */


.hero{
    background-color: var(--secondary-background-color);
    padding: 200px 0;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);

    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;


    display: block;
    margin: 0 auto;
    min-width: 216px;
    height: 50px;
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: #188CE8;
}


/* --------------SectionFirst--------------------------- */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.first-section {
    padding-top: 94px;
    padding-bottom: 94px;


    background-color: var(--primary-background-color);
}

.first-section-list{
    display: flex;
    gap: 30px;
}

.first-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    margin-bottom: 10px;
}

.first-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);


    max-width: 270px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 50px;
}

.second-section {
    margin-bottom: 94px;
}

.second-section-list {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
}

/* --------------------ThirdSection-------------------- */

.team{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--third-background-color);
}

.third-section-list {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
}

.team-item-content {
    padding: 30px;
    background-color: var(--primary-background-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img .no-gap {
    display: block;
}

.third-section-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 10px;

}
.third-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* ----------------------Porfolio----------------- */
.section-portfolio {
    padding: 94px 0;
}

.btn-list{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    cursor: pointer;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

}

.btn-list{
    margin-bottom: 50px;
}

.btn:focus,
.btn:hover {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* ----------------SectionPortfolio-------------- */

.portfolio-content {
    padding: 20px 24px;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* -------------------Footer--------------------- */
.footer {
    background: var(--secondary-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

.footer-list a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-link {
    color: var(--primary-background-color);

    margin-bottom: 9px;
}

.footer-link-contact {
    color: rgba(255, 255, 255, 0.6);
}